@import url('https://fonts.googleapis.com/css2?family=Federo&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /*header*/
.logo-img{
  height: 350px;
  width: 350px;
}

.logo-container{
  text-align: center;
  background-color: #A8B7AB;
}

.menu{
  background-color: rgb(241, 241, 241);
  border-radius: 0 0 10px 10px;
}

.lista-links{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.link {
  color: #000;
  text-decoration: none;
  font-size: clamp(16px, 8vw, 32px);
  transition: color 0.3s ease;
}

nav a:hover {
  color: #fc9621;
}

p {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*--------De aca para abajo lo hice yo------------*/

body{
  margin: 0 30px;
  height: 50vw;
  color: #000;
  font-size: 24px;
  font-family: Federo;
}

h1{
    text-align: center;
}

h2{
    margin-top: 2em;
    text-align: center;
}

form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    padding-bottom: 2em;
    margin: 0 20%;
}

label{
    display: block;
    margin: 0.5rem 0;
}

fieldset{
    border: none;
    padding: 2em;
    border-bottom: 2px solid #69626D;
}

input{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    border: 2px solid #69626D;
    border-radius: 8px;
}

select, option{
    min-height: 2.6em;
    margin: 10px 0 0 0;
    width: 100%;
    border: 2px solid #69626D;
    border-radius: 8px;
}

input[type="submit"]{
    max-width: 200px;
    text-align: center;
    margin: 2em 30%;
    background-color: #867c73;
    color: #FFF;
    font-family: Federo;
    font-size: 24px;
}

input[type="submit"]:hover{
    background-color: #CBBEB3;
}



/* Estilos para íconos */
.icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  color: #3b363d;
}

.icon:hover {
  transform: scale(1.2);
}

.product{
    display: inline-block;
    margin: 0 15px;
    transition: transform 0.3s ease;
}

.product:hover{
    transform: scale(1.2);
}