@import url('https://fonts.googleapis.com/css2?family=Federo&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

*{
  margin: 0 8px;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: Federo;
  font-size: clamp(16px, 4vw, 24px);
}

li{
  list-style: none;
}

/*-----------------------------------------------------*/

  /*header*/
.logo-img{
  height: 350px;
  width: 350px;
  
}

.logo-container{
  text-align: center;
  background-color: #A8B7AB;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: none;
}

.menu{
  background-color: rgb(241, 241, 241);
  border-radius: 0 0 10px 10px;
  border: 1px solid;
}

.lista-links{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.link {
  color: #000;
  text-decoration: none;
  font-size: clamp(16px, 8vw, 32px);
  transition: color 0.2s ease;
}

nav a:hover {
  color: #fc9621;
}

/*-----------------------------------------------------*/


/*SLOGAN*/
.slogan{
  text-align: center;
  font-size: clamp(32px, 8vw, 64px);
  font-family: Girassol;
  padding: 30px;
}
/*-----------------------------------------------------*/

/*Nuestra empresa*/

#nosotros{
  text-align: center;
}

.texto {
  font-size: medium;
  margin: 8px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nosotros-container{
  text-align: center;
  margin: 8px;
  
}

.nosotros-container img{
  border-radius: 8px;
}
/*-----------------------------------------------------*/

/*Productos*/
.tit-seccion{
  margin: 8px 0;
  text-align: center;
  font-size: clamp(16px, 6vw, 32px);
}

.tit-item{
  margin-bottom: 8px;
  text-align: center;
}

.productos{
    text-align: center;
}

.prod-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.prod-item{
  border: solid 2px #161925;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
}

.imagen-card{
  width: 280px;
}

.datos{
  text-align: center;
}

.precio{
  font-size: 24px;
  font-weight: 600;
}

.precio-old{
  font-size: medium;
text-decoration: line-through;
text-align: left;
}

.off{
  color: green;
  font-size: 16px;
}

button{
  padding: 8px;
  min-width: 32px;
  min-height: 32px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botonera{
  text-align: center;
}
.btn-agregar{
  margin-top: 8px;
  border-radius: 8px;
  color: #FFF;
  background-color: #A8B7AB;
  font-size: 16px;
}

.btn-agregar:hover{
  background-color: #495D63;
  transform: scale(1.1);
}

/*-----------------------------------------------------*/

/* Formulario - Contacto */
.subtit{
  font-size: clamp(12px, 4vw, 24px);
  text-align: center;
  margin: 8px;
}

.form-container{
  margin: 32px;
  display: flex;  
  text-align: center;
  justify-content: space-around;
}

.formulario{
  border-radius: 8px;
  background-color: #A8B7AB;
  width: 50%;
  border: 1px solid;  
  padding: 8px;
  padding-top: 20px;
  font-size: clamp(16px, 4vw, 24px);
  text-align: start;
}

input{
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px;
  width: 90%;
  padding: 6px;
  margin: 16px;
}

label{
  margin: 16px;
}

textarea{
  margin: 16px;
  border-radius: 4px;
  min-height: 100px;
  max-height: fit-content;
  min-width: 90%;
  width: 90% fit-content;
  max-width: 90%;
}

.mensaje{
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
}

.enviar-container{
  text-align: center;
  margin-bottom: 8px;
}

.btn-enviar{
  margin-top: 8px;
  border-radius: 8px;
  font-size: 16px;
}

.btn-enviar:hover{
  background-color: darkslategray;
  transform: scale(1.1);
  color: aliceblue;
}

/*-----------------------------------------------------*/


/* Footer */

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}


/* Footer logo links */

.footer-links{
  flex: 1;
  padding: 8px;
}

.footer-logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 32px;
}

/* Footer Visitanos + Mapa */
.footer-subtit{
  display: block;
  margin-bottom: 16px;
  text-decoration: underline 0.5px;
  
}

.footer-mapa{
  flex: 1;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  text-align: center;
}

.mapa{
  margin: 24px;
  width: 90%;
  height: 240px;
}

/* Footer Redes Sociales */
.footer-redes{
  flex: 1;
  padding: 8px;
  display: grid;
}

/* Estilos para íconos */


.icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
  color: #3b363d;
}

.icon:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 500px) {
  .logo-img{
    width: 200px;
    height: 200px;
  }
  .nosotros-container img{
    width: 250;
    height: 200px;
  }
}


/*--------De aca para abajo lo hice yo------------*/



/*FORMULARIO DE REGISTRO*/
/* form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    padding-bottom: 2em;
    margin: 0 20%;
}

label{
    display: block;
    margin: 0.5rem 0;
}

fieldset{
    border: none;
    padding: 2em;
    border-bottom: 2px solid #69626D;
}

input{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    border: 2px solid #69626D;
    border-radius: 8px;
}

select, option{
    min-height: 2.6em;
    margin: 10px 0 0 0;
    width: 100%;
    border: 2px solid #69626D;
    border-radius: 8px;
}

input[type="submit"]{
    max-width: 200px;
    text-align: center;
    margin: 2em 30%;
    background-color: #867c73;
    color: #FFF;
    font-family: Federo;
    font-size: 24px;
}

input[type="submit"]:hover{
    background-color: #CBBEB3;
} */

