@import url('https://fonts.googleapis.com/css2?family=Federo&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /*header*/
.logo-img{
  height: 350px;
  width: 350px;
}

.logo-container{
  text-align: center;
  background-color: #A8B7AB;
}

.menu{
  background-color: rgb(241, 241, 241);
  border-radius: 0 0 10px 10px;
}

.lista-links{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.link {
  color: #000;
  text-decoration: none;
  font-size: clamp(16px, 8vw, 32px);
  transition: color 0.3s ease;
}

nav a:hover {
  color: #fc9621;
}

/*-----------------------------------------------------*/


/*SLOGAN*/
.slogan{
  text-align: center;
  font-size: clamp(32px, 8vw, 64px);
  font-family: Girassol;
  padding: 30px;
}
/*-----------------------------------------------------*/

/*Nuestra empresa*/

#nosotros{
  text-align: center;
}

.texto {
  font-size: medium;
  margin: 8px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nosotros-container{
  text-align: center;
  margin: 8px;
  
}

.nosotros-container img{
  border-radius: 8px;
}
/*-----------------------------------------------------*/

/*Productos*/
.tit-prod{
  margin-bottom: 8px;
  text-align: center;
}

.tit-item{
  margin-bottom: 8px;
  text-align: center;
}

.productos{
    text-align: center;
}

.prod-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.prod-item{
  border: solid 2px #161925;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
}

.imagen-card{
  width: 280px;
}

.datos{
  text-align: center;
}

.precio{
  font-size: 24px;
  font-weight: 600;
}

.precio-old{
  font-size: medium;
text-decoration: line-through;
text-align: left;
}

.off{
  color: green;
  font-size: 16px;
}

button{
  padding: 8px;
  min-width: 32px;
  min-height: 32px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-carrito{
  text-align: center;
}
.btn-agregar{
  margin-top: 8px;
  border-radius: 8px;
  color: #FFF;
  background-color: #A8B7AB;
}

.btn-agregar:hover{
  background-color: darkslategray;
  transform: scale(1.1);
}

/*-----------------------------------------------------*/


/*--------De aca para abajo lo hice yo------------*/

body{
  margin: 0 30px;
  height: 50vw;
  color: #000;
  font-size: 24px;
  font-family: Federo;
}

/* Estilos para íconos */
.icon {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
  color: #3b363d;
}

.icon:hover {
  transform: scale(1.2);
}

.product{
    display: inline-block;
    margin: 0 15px;
    transition: transform 0.3s ease;
}

.product:hover{
    transform: scale(1.2);
}

/*FORMULARIO DE REGISTRO*/
form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    padding-bottom: 2em;
    margin: 0 20%;
}

label{
    display: block;
    margin: 0.5rem 0;
}

fieldset{
    border: none;
    padding: 2em;
    border-bottom: 2px solid #69626D;
}

input{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    border: 2px solid #69626D;
    border-radius: 8px;
}

select, option{
    min-height: 2.6em;
    margin: 10px 0 0 0;
    width: 100%;
    border: 2px solid #69626D;
    border-radius: 8px;
}

input[type="submit"]{
    max-width: 200px;
    text-align: center;
    margin: 2em 30%;
    background-color: #867c73;
    color: #FFF;
    font-family: Federo;
    font-size: 24px;
}

input[type="submit"]:hover{
    background-color: #CBBEB3;
}

